.wrapper {
  background-color: #cfcfcf;
  border: 1px solid #000000;
  width: 1200px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
}

.list {
  border: 2px solid green;
  background-color: lime;
  list-style: none;
}
.list-items {
  border: 2px solid red;
  background-color: tomato;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
  font-family: 'Lobster', cursive;
}

.list-items::selection {
  color: tomato;
  background-color: green;
}

.list-items::first-letter {
  color: brown;
  font-size: 36px;
  font-weight: 900;
}
a {
  font-family: 'Tangerine', cursive;
}
